
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.modal-backdrop.in {
  opacity: 0.40;
  filter: alpha(opacity=40);
}

.modal-backdrop.fade {
  opacity: .3;
  filter: alpha(opacity=30);
}

p {
  line-height: 1.5;
  margin-top: 0em;
  margin-bottom: 1.5em;
}